<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd 
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-2.5.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.xsd">

    <!--<context:component-scan base-package="org.emmanet">
        <context:include-filter type="regex" expression=".*" />
    </context:component-scan>-->

    <bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:config.properties</value>
                <value>classpath:jobConfig.properties</value>
            </list>
        </property>
    </bean>

    <!-- ************************** Initialization of log4j *************************** -->
    <bean id="log4jInitialization"
          class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass"
                  value="org.springframework.util.Log4jConfigurer" />
        <property name="targetMethod" value="initLogging" />
        <property name="arguments">
            <list>
                <value>classpath:log4j.xml</value>
            </list>
        </property>
    </bean>

    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="velocityProperties">
            <props>
                <prop key="resource.loader">class
                </prop>
                <prop key="class.resource.loader.class">
                    org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
                </prop>
            </props>
        </property>
    </bean>
    <security:http auto-config='true'>
        <security:intercept-url pattern="/interfaces/backgroundUpdateInterface.emma*" access="ROLE_SUPER,ROLE_CURATION" />
        <security:intercept-url pattern="/interfaces/poUpdateInterface.emma*" access="ROLE_SUPER" />
        <security:intercept-url pattern="/dashboard.emma*" access="ROLE_USER, ROLE_SUPER" />
        <security:intercept-url pattern="/wp4dashboard.emma*" access="ROLE_USER, ROLE_SUPER" />
        <security:intercept-url pattern="/EUCOMMdashboard.emma*" access="ROLE_USER, ROLE_SUPER" />
        <security:intercept-url pattern="/newsitems.emma" access="ROLE_SUPER" />
        <!--<security:intercept-url pattern="/**" access="ROLE_USER" />-->
        <security:intercept-url pattern="/interfaces/**" access="ROLE_USER,ROLE_SUPER,ROLE_CURATION" />
        <security:intercept-url pattern="/filestore/**" access="ROLE_USER,ROLE_SUPER,ROLE_CURATION" />
    </security:http>
    <security:authentication-provider >
        <security:password-encoder hash="md5"><!-- be good to upgrade spring security to at least 3.0.* or 4.0* to utilise safer encryption hashes -->
            <security:salt-source user-property="username"/>
        </security:password-encoder>
        <security:user-service>
            <!-- encrypted passwords generated by package org.emmanet.util.PasswordEncoder.java -->
            <security:user name="ebi" password="ade46f63de83f32fc1b50824f734f366" authorities="ROLE_USER, ROLE_SUPER" />
            <security:user name="ki" password="682779cc29f30b0c20843dda89517d9c" authorities="ROLE_USER" />
            <security:user name="cnrs" password="d8cc5cb0b19d721cdd3c86d311286e80" authorities="ROLE_USER" />
            <security:user name="mrc" password="f7c0e5d92093145ef80b62d37e781cc4" authorities="ROLE_USER" />
            <security:user name="cnr" password="0d590f2fe6abe7f076db580703454c89" authorities="ROLE_USER" />
            <security:user name="fcg" password="b59e0044e299af5a06af76ed262283c2" authorities="ROLE_USER" />
            <security:user name="sang" password="4f898dea2bccca4319a3110d77c672c4" authorities="ROLE_USER" />
            <security:user name="ics" password="2c627dc8071b75b21c122c7e0b1c3147" authorities="ROLE_USER" />
            <security:user name="bsrc" password="476bd70b0b5f636aaf9531ec74ba682b" authorities="ROLE_USER" />
            <security:user name="cnb" password="507e953f01c093a31a3ff01b7e41069e" authorities="ROLE_USER" />
            <security:user name="hmgu" password="a429860045677d4d69186a4751aec65f" authorities="ROLE_USER" />
            <security:user name="unioulu" password="c30a8d73c7ef56286dfcd1d8cc83cded" authorities="ROLE_USER" />
            <security:user name="img" password="7699e0d504256bc26900417f65c3f288" authorities="ROLE_USER" />
            <security:user name="vetmeduni" password="959df00df1b14993d1fba03edaa4f1db" authorities="ROLE_USER" />
            
            <security:user name="super" password="dd077585ca8db2de215f0a234ff15633" authorities="ROLE_SUPER" />
            <security:user name="curator" password="e4a6280c7ec8929906a4e7ee7c691515" authorities="ROLE_CURATION" />
        </security:user-service>
    </security:authentication-provider>
    <!--  <bean id="mailerTarget" class="org.emmanet.util.Mailer">
        <property name="velocityEngine">
            <ref bean="velocityEngine"/>
        </property>
    </bean>-->
    <bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host">
            <value>localhost</value>
        </property>
    </bean>
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host">
            <value>localhost</value>
        </property>
    </bean>
    <bean id="fileLocation" class="org.emmanet.jobs.BackgroundListJOB">
        <property name="fileLocation">
            <value>/tmp/</value>
        </property>
    </bean>
    <bean id="simpleMailMessage" class="org.springframework.mail.SimpleMailMessage">
        <property name="from">
            <value>emma@infrafrontier.eu</value>
        </property>
    </bean>

    <bean name="smailerJob"
          class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass" value="org.emmanet.jobs.standAloneMailer"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="javaMailSender">
                    <ref bean="javaMailSender"/>
                </entry>
            </map>
        </property>
    </bean>
    <bean name="bgListJob"
          class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass" value="org.emmanet.jobs.BackgroundListJOB"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="fileLocation">
                    <value>${DATAFILES}/tmp/</value>
                </entry>
            </map>
        </property>
    </bean>

    <bean name="mailJob"
          class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass" value="org.emmanet.jobs.RegInterestJOB"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="velocityEngine">
                    <ref bean="velocityEngine"/>
                </entry> 
                <entry key="mailSender">
                    <ref bean="mailSender"/>
                </entry>
            </map>
        </property>
    </bean> 
    
    <bean id="smailerTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="smailerJob"/>
        <property name="cronExpression" value="0 * * * * ?"/><!--5 59 23 31 1 ? 2013//   5 0 0 23 2 ? 2012   // 5 0 0 18 9 ? 2009    0 0 0 * * ?   5 0 0 9 12 ? 2009  5 0 0 7 1 ? 2010-->
    </bean>
    <bean id="bglistTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="bgListJob"/>
        <property name="cronExpression" value="0 30 22 * * ?"/><!--- 0 30 5 * * ? -->
    </bean>
    <bean id="mailTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="mailJob"/>
        <property name="cronExpression" value="0 57 23 * * ?"/><!---    0 57 23 * * ?   -->
    </bean>
    
    <!-- SCHEDULER -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="bglistTrigger"/>
                <ref bean="mailTrigger"/>
            </list>
        </property>
    </bean>
</beans>
