## Include header template common to all messages
#parse( "org/emmanet/util/velocitytemplates/header.vm" )
Dear EMMA customer#*${name}*#,

We would like to confirm receipt of the submission form you sent to EMMA for your strain named ${strainname}.

The submission form will be forwarded to the evaluation committee and you will be notified of their decision as soon as possible.

Should you have any questions, please do not hesitate to contact the Project Coordination Office (info@emmanet.org).

You can review your submission here ${BASEURL}emma/pdfView.emma?id=${strainid}&pdfView=y&type=sub

## Include footer template common to all messages
#parse( "org/emmanet/util/velocitytemplates/footer.vm" )