<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
    <head>
        <title></title>
        
    </head>
    <body>
        
        
        <table border="0" width="75%" align="center">
            <tbody>
                <tr>
                    <td valign="top">
                        <br />
                        <hr color="#0090D2">
                        <br />
                        <p class="left">PREAMBLE:<br>
                        The EMMA nodes have similar administrative arrangements for the deposition and distribution of EMMA mice, including ensuring that the rights of depositors are protected and that the liabilities of nodes are limited. Special arrangements apply for the UK. However, in general, the following conditions apply, which may apply simply as conditions attached to the transaction or, alternatively, appears in some form within an MTA attached to the transaction.</p>
                        
                        <p class="left">LEGALLY BINDING GENERAL CONDITIONS <br>
                        CONCERNING THE REQUEST AND TRANSFER OF MUTANT MOUSE STRAINS FROM THE EUROPEAN MOUSE MUTANT ARCHIVE</p>
                        
                        <p class="left">The European Mouse Mutant Archive (EMMA) is a federation of several research facilities in the field of mouse genetics from different European countries and was set up to coordinate, archive and distribute mutant mouse strains.</p>
                        
                        <p class="left">A list of the available mutant mouse strains is regularly updated and available at http://www.emmanet.org.</p>
                        
                        <p class="left">EMMA-maintained strains are supplied to interested institutions/investigators as a non-profit service to the research community at large by the respective research facility (Provider). EMMA coordinates requests and acts as the Distributor of mouse lines stored with the Distributor. Where applicable, the Distributor will furbish to the recipient institution, including its employees and other researchers under its control, (Recipient), the Provider's Material Transfer Agreement. Requests will not be processed by the Distributor until two duly executed copies have been received by the Distributor.</p>
                        
                        <p class="left">Depending on the mouse strain, the requested Material consists of frozen sperm, embryos or live mice (Material). Mouse breeding, handling and storage of the Material comply with the established rules and regulations, which apply in the country of the Provider or the Distributor respectively.</p>
                        
                        <p class="left">Each Recipient, who requests and receives Material from the Distributor, hereby expressly agrees to the following conditions:</p>
                        <div style="margin-left: 40px;">

                        <p class="left">1. The Material is provided for non-commercial research purposes only. The Recipient must not transfer the requested Material, which is owned by the Provider and shall comprise any progeny, unmodified derivatives or modifications thereof derived by inbreeding or crossbreeding, to any third party.</p>
                        <p class="left">2. The information made available to the Recipient along with and related to the Material is provided by the Distributor to the best of its knowledge based on the information given by the Provider.</p>
                        <p class="left">3. Material is made available only to Recipients, who can prove their ability for handling, breeding and manipulating the Material through specific legal authorisations delivered by appropriate control bodies.</p>
                        <p class="left">4. The Material provided to the Recipient is experimental in nature. It may have hazardous properties.  Provider and Distributor make no representations and extend no warranties of any kind, express or implied, as to the fitness of the Material for a particular purpose, or that the use thereof will not infringe any patent, copyright, trademark, or other proprietary rights of a third party. The Distributor does not restrict availability of strains it maintains on the basis of intellectual property rights and does not enforce any restrictions based on these rights.</p>
                        <p class="left">5. The Recipient assumes all and any liability for damages, which may arise from use, storage or disposal of the provided Material. The Recipient shall hold harmless the Provider and Distributor for any loss, claim or demand which could be raised by the Recipient, or made against the Recipient by any other party, due to, or arising from, the use of the Material by the Recipient, except to the extent caused by the gross negligence or wilful misconduct of the Provider or Distributor.</p>
                        <p class="left">6. The Material is provided by the Distributor with a transmittal fee (consisting of appropriate shipping fees and a lump sum of EUR 200-, for storage and handling of the Material) that is to be borne by the Recipient.</p>
                        <p class="left">7. In case a Material Transfer Agreement has been completed between Provider and Recipient, the Provider's MTA shall apply in relation between Provider and Recipient.</p>
                        </div>
                        <br />
                        <p><a href="#" onClick="javascript:ajax('js/printclear.js','conditions');return false;">Close</a></p>
                        <hr color="#0090D2">
                        <br />
                    </td>
                </tr>
            </tbody>
        </table>        
    </body>
</html>
